# Copyright 2019 Atalaya Tech, Inc.

# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at

# http://www.apache.org/licenses/LICENSE-2.0

# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# This is the default configuration for BentoML. When bentoml is imported, it looks
# for a configuration file at "$BENTOML_HOME/bentoml.cfg".


[core]
debug = false
usage_tracking = true
bentoml_deploy_version = {LAST_PYPI_RELEASE_VERSION}
default_docker_base_image =

[instrument]
default_namespace = BENTOML
prometheus_multiproc_dir = {BENTOML_HOME}/prometheus_multiproc_dir

[logging]
logging_config = {BENTOML_HOME}/logging.yml
console_logging_enabled = true
file_logging_enabled = true

# Was INFO
level = INFO
log_format = [%%(asctime)s] %%(levelname)s - %%(message)s
dev_log_format = [%%(asctime)s] {{%%(filename)s:%%(lineno)d}} %%(levelname)s - %%(message)s

# the base file directory where bentoml store all its log files
base_log_dir = {BENTOML_HOME}/logs/

prediction_log_filename = prediction.log

feedback_log_filename = feedback.log

yatai_web_server_log_filename = yatai_web_server.log


[yatai_service]
# URL of remote YataiService gRPC server endpoint to use
url =
s3_signature_version = s3v4

# YataiService server configs
repository_base_url = {BENTOML_HOME}/repository/
db_url = sqlite:///{BENTOML_HOME}/storage.db
s3_endpoint_url =
default_namespace = dev
tls_root_ca_cert =
tls_client_key =
tls_client_cert =
access_token =
access_token_header = access_token

[apiserver]
default_port = 5000
enable_metrics = true
enable_feedback = true
default_timeout = 60
default_max_request_size = 20971520
default_image_input_accept_file_extensions = .jpg,.png,.jpeg,.tiff,.webp,.bmp

# Set to a positive integer to take effect, otherwise will fallback to a
# runtime calculated value based on cpu cores
# see `bentoml.configuration.containers.BentoMLContainer.api_server_workers`
# for details
default_gunicorn_workers_count = 1
batch_request_header = Bentoml-Is-Batch-Request


[marshal_server]
marshal_request_header_flag = BentoML-Is-Merged-Request


[cli]
#
#

[yatai]
bento_uri_default_expiration = 3000

[tensorflow]
#
#

[pytorch]
#
#

[ngsild]
cb_url = https://stellio-dev.eglobalmark.com
at_context = https://raw.githubusercontent.com/easy-global-market/ngsild-api-data-models/master/mlaas/jsonld-contexts/mlaas-precipitation-contexts.jsonld
access_token = eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJwSzZPOXNBQnRuNGRaTkxScUlPN0t6RXVvUDVjWWh0TDI3clVYVURMZlRBIn0.eyJleHAiOjE2NTQ3NTQzMTAsImlhdCI6MTY1NDE0OTUxMCwianRpIjoiOGEyNjUwZjYtYjkwNC00MzVlLTllOTAtOWJiZGQ0ZTg4ZjlmIiwiaXNzIjoiaHR0cHM6Ly9zc28uZWdsb2JhbG1hcmsuY29tL2F1dGgvcmVhbG1zL3N0ZWxsaW8tZGV2IiwiYXVkIjoiYWNjb3VudCIsInN1YiI6ImNhNDQxNzE0LTk3YjYtNGJiOS04Y2E3LTBiMjM5NDA0NDNmYSIsInR5cCI6IkJlYXJlciIsImF6cCI6ImRpZGllci1jbGllbnQiLCJhY3IiOiIxIiwicmVhbG1fYWNjZXNzIjp7InJvbGVzIjpbInN0ZWxsaW8tYWRtaW4iLCJzdGVsbGlvLWNyZWF0b3IiLCJvZmZsaW5lX2FjY2VzcyIsInVtYV9hdXRob3JpemF0aW9uIl19LCJyZXNvdXJjZV9hY2Nlc3MiOnsiZGlkaWVyLWNsaWVudCI6eyJyb2xlcyI6WyJ1bWFfcHJvdGVjdGlvbiJdfSwiYWNjb3VudCI6eyJyb2xlcyI6WyJtYW5hZ2UtYWNjb3VudCIsIm1hbmFnZS1hY2NvdW50LWxpbmtzIiwidmlldy1wcm9maWxlIl19fSwic2NvcGUiOiJwcm9maWxlIGVtYWlsIiwiZW1haWxfdmVyaWZpZWQiOmZhbHNlLCJjbGllbnRJZCI6ImRpZGllci1jbGllbnQiLCJjbGllbnRIb3N0IjoiMjEzLjQ0LjIyNi4xNDgiLCJwcmVmZXJyZWRfdXNlcm5hbWUiOiJzZXJ2aWNlLWFjY291bnQtZGlkaWVyLWNsaWVudCIsImNsaWVudEFkZHJlc3MiOiIyMTMuNDQuMjI2LjE0OCJ9.Q_jF7Vh2kZnNrSj-8XULx8GQuSu5jaG1f3sEVO98Jn4rSe-iaKFBny3puA75Pcb0MRP3_ThKiFTdMu6lZuTolNFB04XMCBmn2Z04KSa7gr0PLUv2y7c8ZCVgBAXf9GuGyDaG_gT2IBO6mXQD0Avrc4LrAbNgERrMw1NItHiNwJ6wmoUGl3i_-aq7n1jWMPGrdvZdJpNWeaOZjiQ3fxwL3dReFqDFmo8TtkPiZI-ZsVPqSXOTOIMb_pShoYchm8E1g8kMheBMwfmRrjMHjnpuY5K_tqgqNHM5E1k9tWFVpPMlFVgETeQoxf5qFXdDnnEMdyEJ4BdiaP-_8DfkgMUkZg
ml_model_urn = urn:ngsi-ld:MLModel:flow:3M:predict
ml_model_entity_input_type = WeatherObserved
ml_model_input = https://uri.etsi.org/ngsi-ld/default-context/measure,https://uri.etsi.org/ngsi-ld/default-context/measure,https://uri.etsi.org/ngsi-ld/default-context/measure,https://uri.etsi.org/ngsi-ld/default-context/measure,https://uri.etsi.org/ngsi-ld/default-context/measure
ml_model_entities_ids = urn:ngsi-ld:F4W:Suez-usecase:Temp2h,urn:ngsi-ld:F4W:Suez-usecase:Rh2h,urn:ngsi-ld:F4W:Suez-usecase:wind10m,urn:ngsi-ld:F4W:Suez-usecase:rr10,urn:ngsi-ld:F4W:Suez-usecase:Bramafan
ml_model_temporal_req = timerel=after&timeAt=-730 day&timeBucket=1 day&aggregate=AVG,timerel=after&timeAt=-730 day&timeBucket=1 day&aggregate=AVG,timerel=after&timeAt=-730 day&timeBucket=1 day&aggregate=AVG,timerel=after&timeAt=-730 day&timeBucket=1 day&aggregate=SUM,timerel=after&timeAt=-730 day&timeBucket=1 day&aggregate=AVG
ml_model_output = flow,precipitation
ml_model_target_entity = urn:ngsi-ld:F4W:Suez-usecase:Bramafan:predictions
ml_model_time_interval =
